@model IEnumerable<PS2._Practica_Semanal_2.Models.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Status</h2>

<p>
    @Html.ActionLink("Agregar Status", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Status</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameStatus)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
